<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Buscar Curso</title>
  </head>
  <body>
   <form action="codigo" method="POST">
	<table border="1">
	  <tr>	<th>Codigo:</th><td><input name="codigo" /></td>	</tr>
	</table>
    <br> <input type="submit" value="Buscar Por Codigo]" />
   </form>
   <br><br>
   
   <form action="nombre" method="POST">
	<table border="1">
	  <tr>	<th>Nombre:</th><td><input name="nombre" /></td>	</tr>
	</table>
    <br> <input type="submit" value="Buscar Por Nombre [Match]]" />
   </form>
   
   <br> <input type="button" value="Atras" onclick="history.back();" />
  </body>
</html>
