<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Busqueda</title>
  </head>
  <body>
   <form action="semestre" method="POST">
	<table border="1">
	  <tr>	<th>Curso:</th><td><input name="curso" /></td>	</tr>
	  <tr>	<th>Semestre:</th><td><input name="semestre" /></td>	</tr>
	</table>
    <br> <input type="submit" value="Buscar Por Curso y Semestre" />
   </form>
  
   <br><br> <input type="button" value="Atras" onclick="history.back();" />
  </body>
</html>
