<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Buscar Alumno</title>
  </head>
  <body>
   <form action="infor" method="POST">
	<table border="1">
	  <tr>	<th>Nombre:</th><td><input name="nombres" /></td>	</tr>
	</table>
    <br> <input type="submit" value="Buscar Por Nombre]" />
   </form>
  
   <br><br> <input type="button" value="Atras" onclick="history.back();" />
  </body>
</html>
