<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
  </head>
  <body>
	<a href="/alumno">Alumnos</a><br />
	<a href="/curso">Cursos</a><br />
	<a href="/curso/initsearch">Buscar Curso (codigo)</a><br />
  </body>
</html>
